.light
    .main_component_todo
        background-color: $Very-Light-Grayish-Blue-light

        .main_component_todo_todos_inputTodo
            background-color: $Very-Light-Gray-light 
            .main_component_todo_todos_inputTodo-input
                color: $Very-Dark-Grayish-Blue-light

        .main_component_todo_todos_todoList
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px
        
            background-color: $Very-Light-Gray-light 

        .main_component_todo_todos_todoList_todoItem_value
            color: $Very-Dark-Grayish-Blue-light
