@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.MainContent_background picture {
  display: block;
}
.MainContent_background picture img {
  vertical-align: bottom;
  width: 100vw;
  height: 35vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.main_component_todo {
  min-height: 65vh;
}
.main_component_todo .main_component_todo_todos {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 30vw;
}
.main_component_todo .main_component_todo_todos .main_component_todo_todos_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.main_component_todo .main_component_todo_todos .main_component_todo_todos_header h1 {
  font-size: 25px;
  color: white;
  letter-spacing: 10px;
  font-weight: 700;
}
.main_component_todo .main_component_todo_todos .main_component_todo_todos_header button {
  border: none;
  background: none;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .main_component_todo_todos {
    width: 90vw !important;
  }
}
.main_component_todo_todos_todoList {
  margin-top: 30px;
  border-radius: 3px;
}
.main_component_todo_todos_todoList .main_component_todo_todos_todoList_todoItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid hsl(234, 11%, 52%);
  height: 40px;
}
.main_component_todo_todos_todoList .main_component_todo_todos_todoList_todoItem .main_component_todo_todos_todoList_todoItem_check {
  width: 12%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.main_component_todo_todos_todoList .main_component_todo_todos_todoList_todoItem .main_component_todo_todos_todoList_todoItem_check .disable {
  height: 18px;
  width: 18px;
  border: 1px solid hsl(234, 11%, 52%);
  border-radius: 50%;
}
.main_component_todo_todos_todoList .main_component_todo_todos_todoList_todoItem .main_component_todo_todos_todoList_todoItem_check .disable:hover {
  cursor: pointer;
  position: relative;
  border: double 1px transparent;
  border-radius: 20px;
  background-image: linear-gradient(hsl(237, 14%, 26%), hsl(237, 14%, 26%)), radial-gradient(circle at top left, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.main_component_todo_todos_todoList .main_component_todo_todos_todoList_todoItem .main_component_todo_todos_todoList_todoItem_check .enable {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  background: radial-gradient(circle at top left, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
.main_component_todo_todos_todoList .main_component_todo_todos_todoList_todoItem .main_component_todo_todos_todoList_todoItem_value {
  height: 100%;
  color: hsl(236, 33%, 92%);
  font-size: 13px;
  width: 88%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.main_component_todo_todos_todoList .main_component_todo_todos_todoList_todoItem .main_component_todo_todos_todoList_todoItem_value .enable {
  text-decoration: line-through;
  color: hsl(234, 11%, 52%);
}
.main_component_todo_todos_todoList .main_component_todo_todos_todoList_todoItem .main_component_todo_todos_todoList_todoItem_value button {
  display: none;
  background: none;
  border: none;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.main_component_todo_todos_todoList .main_component_todo_todos_todoList_todoItem .main_component_todo_todos_todoList_todoItem_value button img {
  display: none;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.main_component_todo_todos_todoList .main_component_todo_todos_todoList_todoItem:hover button {
  display: flex;
}
.main_component_todo_todos_todoList .main_component_todo_todos_todoList_todoItem:hover button img {
  display: block;
}

.main_component_todo_todos_inputTodo {
  margin-top: 20px;
  border-radius: 3px;
}
.main_component_todo_todos_inputTodo .main_component_todo_todos_inputTodo-marker {
  width: 18px;
  height: 18px;
  background: none;
  border-radius: 50%;
  border: 1px solid hsl(234, 11%, 52%);
  margin: 10px;
}
.main_component_todo_todos_inputTodo .main_component_todo_todos_inputTodo-input {
  width: calc(100% - 50px);
  background: none;
  border: none;
}
.main_component_todo_todos_inputTodo .main_component_todo_todos_inputTodo-input:focus {
  outline: none;
}

.main_component_todo_todos_todoList_filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.main_component_todo_todos_todoList_filters .main_component_todo_todos_todoList_filters_quantity p {
  color: hsl(234, 11%, 52%);
  font-size: 8px;
  margin: 15px;
}
.main_component_todo_todos_todoList_filters button {
  margin: 5px;
  font-size: 9px;
  background: none;
  border: none;
  color: hsl(234, 11%, 52%);
  cursor: pointer;
}
.main_component_todo_todos_todoList_filters .main_component_todo_todos_todoList_filters_compleated button {
  color: hsl(234, 11%, 52%);
  font-size: 8px;
  margin: 15px;
}

@media (max-width: 1024px) {
  .main_component_todo_todos_todoList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90vw;
  }
  .main_component_todo_todos_todoList .main_component_todo_todos_todoList_filters_filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 90vw;
  }
  .main_component_todo_todos_todoList .main_component_todo_todos_todoList_filters_filters button {
    font-size: 12px;
  }
  .main_component_todo_todos_todoList_filters_compleated, .main_component_todo_todos_todoList_filters_quantity {
    display: none;
  }
}
body {
  font-family: "Josefin Sans", sans-serif;
}

.dark .main_component_todo {
  background-color: hsl(235, 21%, 11%);
}
.dark .main_component_todo .main_component_todo_todos_inputTodo {
  background-color: hsl(237, 14%, 26%);
}
.dark .main_component_todo .main_component_todo_todos_inputTodo .main_component_todo_todos_inputTodo-input {
  color: hsl(234, 39%, 85%);
}
.dark .main_component_todo .main_component_todo_todos_todoList {
  box-shadow: rgba(190, 190, 190, 0.2) 0px 7px 29px 0px;
}
.dark .main_component_todo .main_component_todo_todos_todoList {
  background-color: hsl(237, 14%, 26%);
}

.light .main_component_todo {
  background-color: hsl(236, 33%, 92%);
}
.light .main_component_todo .main_component_todo_todos_inputTodo {
  background-color: hsl(0, 0%, 98%);
}
.light .main_component_todo .main_component_todo_todos_inputTodo .main_component_todo_todos_inputTodo-input {
  color: hsl(235, 19%, 35%);
}
.light .main_component_todo .main_component_todo_todos_todoList {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: hsl(0, 0%, 98%);
}
.light .main_component_todo .main_component_todo_todos_todoList_todoItem_value {
  color: hsl(235, 19%, 35%);
}/*# sourceMappingURL=style.css.map */