@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.MainContent_background picture {
  display: block;
}
.MainContent_background picture img {
  vertical-align: bottom;
  width: 100vw;
  height: 35vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.main_component_todo {
  min-height: 65vh;
}
.main_component_todo .main_component_todo_todos {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 30vw;
}
.main_component_todo .main_component_todo_todos .main_component_todo_todos_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.main_component_todo .main_component_todo_todos .main_component_todo_todos_header h1 {
  font-size: 25px;
  color: white;
  letter-spacing: 10px;
  font-weight: 700;
}
.main_component_todo .main_component_todo_todos .main_component_todo_todos_header button {
  border: none;
  background: none;
  cursor: pointer;
}

.main_component_todo_todos_inputTodo {
  margin-top: 20px;
  border-radius: 3px;
}
.main_component_todo_todos_inputTodo .main_component_todo_todos_inputTodo-marker {
  width: 18px;
  height: 18px;
  background: none;
  border-radius: 50%;
  border: 1px solid hsl(234, 11%, 52%);
  margin: 10px;
}
.main_component_todo_todos_inputTodo .main_component_todo_todos_inputTodo-input {
  width: calc(100% - 50px);
  background: none;
  border: none;
}
.main_component_todo_todos_inputTodo .main_component_todo_todos_inputTodo-input:focus {
  outline: none;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.dark .main_component_todo {
  background-color: hsl(235, 21%, 11%);
}
.dark .main_component_todo .main_component_todo_todos_inputTodo {
  background-color: hsl(237, 14%, 26%);
}
.dark .main_component_todo .main_component_todo_todos_inputTodo .main_component_todo_todos_inputTodo-input {
  color: hsl(234, 39%, 85%);
}

.light .main_component_todo {
  background-color: hsl(236, 33%, 92%);
}
.light .main_component_todo .main_component_todo_todos_inputTodo {
  background-color: hsl(0, 0%, 98%);
}
.light .main_component_todo .main_component_todo_todos_inputTodo .main_component_todo_todos_inputTodo-input {
  color: hsl(236, 9%, 61%);
}/*# sourceMappingURL=style.css.map */