.main_component_todo_todos_todoList_filters
    @include flexDisplay (row, center, space-between)

    .main_component_todo_todos_todoList_filters_quantity
        p
            color: $Dark-Grayish-Blue
            font-size: 10px
            margin: 15px
    

    button
        margin: 5px
        background: none
        border: none
        color: $Dark-Grayish-Blue
        cursor: pointer

    .main_component_todo_todos_todoList_filters_compleated
        button
            color: $Dark-Grayish-Blue
            font-size: 10px
            margin: 15px