.main_component_todo_todos_inputTodo
    margin-top: 20px
    border-radius: 3px
    .main_component_todo_todos_inputTodo-marker
        width: 18px
        height: 18px
        background: none
        border-radius: 50%
        border: 1px solid $Dark-Grayish-Blue
        margin: 10px

    .main_component_todo_todos_inputTodo-input
        width: calc( 100% - 50px )
        background: none
        border: none

        &:focus
            outline: none